body {
    font-family: Verdana;
    margin: auto;
    position: relative;
    float: left;
    //width: 100%;
    height: 100vh;
    background-color: hsl(0, 11%, 93%);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;

}