.register {
    margin-top:30px;
    width:480px;
    background-color:transparent;
    margin-left: 100%;
    height: 100%;
    box-shadow: 1px 5px 10px 1px #333;
    z-index:-1;
}

.register-body {
    width: 400px;
    border-radius:10px;
    border-right:1px solid transparent;
    border-left:1px solid transparent;
}


.form-group {
    width: 100%;
    height: 50px;
    margin-top: 5px;
}

.form-group div {
    width: 51%;
    height: 25%;
    float: right;
}  
  label{
      margin-left: 25px;
    height: 20%;
    font-weight: bold;
    font-size: 15px;
    color: white;
  }

  .invalid-feedback {
      color: firebrick;
  }

  input{    
    display: block;
    width: 50%;
    margin: auto;
    padding: 13px;
    border: 0;
    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity: 1.15;
    float: right;
  }
  
  input:focus{
    border:1px solid rgba(255,109,46,0.6);
    box-shadow: 0 0 3px rgba(255,109,46,0.6);
    outline: none;
    font-size: 1.1em;
  }